<div class="features">
  <h2>Features</h2>
  <p>Please check out our <a href="https://github.com/yeoman/generator-gulp-webapp/blob/master/app/templates/gulpfile.js">gulpfile.js</a> for up to date information on what we support.</p>

  <ul class="features-list">
    <li class="feature">HTML5 Boilerplate</li>
    <li class="feature">CSS Autoprefixing</li>
    <li class="feature">Built-in preview server with LiveReload</li>
    <li class="feature">Compile Sass</li>
    <li class="feature">Lint your scripts</li>
    <li class="feature">Awesome image optimization</li>
    <li class="feature">Wire-up dependencies installed with Bower</li>
    <li class="feature">Compress your assets</li>
    <li class="feature">HTML minification</li>
  </ul>
</div>
