<div class="container">
  <h2>Installation &amp; Usage</h2>
</div>

<div class="code">
  <div class="container">
    <div class="code-group">
      {% highlight sh %}
      # install dependencies
      {% endhighlight %}

      {% highlight sh %}
      $ npm install -g gulp yo generator-gulp-webapp bower
      {% endhighlight %}
    </div>

    <div class="code-group">
      {% highlight sh %}
      # create an empty directory for your project
      {% endhighlight %}

      {% highlight sh %}
      $ mkdir my-webapp
      {% endhighlight %}

      {% highlight sh %}
      $ cd my-webapp
      {% endhighlight %}
    </div>

    <div class="code-group">
      {% highlight sh %}
      # scaffold
      {% endhighlight %}

      {% highlight sh %}
      $ yo gulp-webapp
      {% endhighlight %}
    </div>

    <div class="code-group">
      {% highlight sh %}
      # connect to localhost,
# open your default browser,
# and watch for changes
      {% endhighlight %}

      {% highlight sh %}
      $ gulp serve
      {% endhighlight %}
    </div>

    <div class="code-group">
      {% highlight sh %}
      # build for production
      {% endhighlight %}

      {% highlight sh %}
      $ gulp build
      {% endhighlight %}
    </div>
  </div>
</div>
