<div class="intro">
  <div class="code">
    <div class="container">
      <pre style="line-height:1.3">
  _-----_
 |       |    .--------------------------.
 |<span class="text-red">--(o)--</span>|    |       <strong>'Allo allo!</strong>        |
`---------´   '--------------------------'
 <span class="text-yellow">( _´U`_ )</span>
 /___A___\
  <span class="text-yellow">|  ~  |</span>
__<span class="text-yellow">'.___.'</span>__
´   <span class="text-red">`  |</span>° <span class="text-red">´ Y</span> `</pre>
    </div>
  </div>

  <div class="container">
    <p>Web app generator is a <a href="http://yeoman.io/">Yeoman generator</a> for building front-end web apps. It automates common tasks such as JavaScript linting, asset compression, compiling Sass with Autoprefixer, etc. so you focus on more important tasks. This generator is powered by Gulp, if Grunt is more your cup of tea, check out <a href="https://github.com/yeoman/generator-webapp">generator-webapp</a>.</p>
  </div>
</div>
