<div class="intro">
  <div class="container">
    <img class="intro-image" src="images/yoblueprint-flipped.png" width="200" alt="Yeoman">
    <h2 class="intro-title">'Allo 'allo!</h2>
    <p>Web app generator is a <a href="http://yeoman.io/">Yeoman generator</a> for building front-end web apps. It automates common tasks such as JavaScript linting, asset compression, compiling Sass with Autoprefixer, etc. so you focus on more important tasks. This generator is powered by Gulp, if Grunt is more your cup of tea, check out <a href="https://github.com/yeoman/generator-webapp">generator-webapp</a>.</p>
  </div>
</div>
