<div class="recipes">
  <h2>Recipes</h2>
  <p>If your favorite feature is missing, we have <a href="https://github.com/yeoman/generator-gulp-webapp/tree/master/docs/recipes">recipes</a> for some common features like:</p>

  <ul class="recipes-list">
    <li class="recipe">Compile CoffeeScript</li>
    <li class="recipe">Use Handlebars for JavaScript templates</li>
    <li class="recipe">Compile LESS</li>
    <li class="recipe">Use Jade for your markup</li>
    <li class="recipe">Host your web app on GitHub Pages</li>
    <li class="recipe">Implement asset revisioning</li>
    <li class="recipe">Set up React and JSX</li>
  </ul>
</div>
