extends layouts/layout

block content
  .jumbotron
    h1.display-3 'Allo, 'Allo!
    p.lead Always a pleasure scaffolding your apps.
    p: a.btn.btn-lg.btn-success(href='#') Splendid!

  .row.marketing
    .col-lg-6
      h4 day la html 5 HTML5 
      p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

      h4 Sass
      p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.

      <h4>Bootstrap</h4>
      <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

      h4 Modernizr
      p abczxcz