.header {
  margin-bottom: $sub;
  padding-top: $suh;
  padding-bottom: $suh;
  background-color: adjust-color($color-red, $saturation: -10%);
  border-bottom: 2px solid hsla(0,0%,0%,.25);
  text-align: center;
  color: #fff;
  text-shadow: hsla(0,0%,0%,.5) 1px 1px 1px;

  @include query(sm) {
    margin-bottom: $sub * 2;
    padding-top: $sub;
    padding-bottom: $sub;
  }

  .container {
    padding-left: $sub;
    padding-right: $sub;
  }

  a {
    color: #fff;
  }
}
