.navigation {
  position: absolute;
  top: -18px;
  left: -27px;

  @include query(960px) {
    top: -19px;
    left: 10px;
  }

  img {
    width: 75px;

    @include query(960px) {
      width: 112px;
    }
  }
}
