<!doctype html>
<%_ if (includeModernizr) { -%>
<html class="no-js" lang="">
<%_ } else { -%>
<html lang="">
<%_ } -%>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <%_ if (includeBootstrap) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%_ } else { -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%_ } -%>
    <title><%= appname %></title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <%_ if (includeBootstrap) { -%>
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <!-- endbuild -->
    <%_ } -%>
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <%_ if (includeModernizr) { -%>
    <!-- build:js scripts/modernizr.js -->
    <script src="scripts/modernizr.js"></script>
    <!-- endbuild -->
    <%_ } -%>
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%_ if (includeBootstrap) { -%>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a href="#" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
        <h3 class="text-muted"><%= appname %></h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">'Allo, 'Allo!</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>HTML5 Boilerplate</h4>
          <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

          <%_ if (includeSass) { -%>
          <h4>Sass</h4>
          <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
          <%_ } -%>

          <h4>Bootstrap</h4>
          <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

          <%_ if (includeModernizr) { -%>
          <h4>Modernizr</h4>
          <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
          <%_ } -%>
        </div>
      </div>

      <div class="footer">
        <p>♥ from the Yeoman team</p>
      </div>
    </div>
    <%_ } else { -%>
    <div class="hero-unit">
      <h1>'Allo, 'Allo!</h1>
      <p>You now have</p>
      <ul>
        <li>HTML5 Boilerplate</li>
        <%_ if (includeSass) { -%>
        <li>Sass</li>
        <%_ } if (includeModernizr) { -%>
        <li>Modernizr</li>
        <%_ } if (includeJQuery) { -%>
        <li>jQuery</li>
        <%_ } -%>
      </ul>
    </div>
    <%_ } -%>
    <%_ if (includeAnalytics) { -%>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <%_ } -%>
    <!-- build:js scripts/vendor.js -->
    <%_ if (includeJQuery || includeBootstrap) { -%>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <%_ } -%>
    <%_ if (includeBootstrap) { -%>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <%_ } -%>
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
