doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title webapp
    link(rel='apple-touch-icon', href='../apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='../styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='scripts/modernizr.js')
    // endbuild
  body
    <!--[if IE]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    .container
      .header
        ul.nav.nav-pills.float-right
          li.nav-item: a.nav-link.active(href='#') Home
          li.nav-item: a.nav-link(href='#') About
          li.nav-item: a.nav-link(href='#') Contact

        h3.text-muted webapp

      block content

      .footer
        p &hearts; from the Yeoman team

    // build:js scripts/vendor.js
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    // endbuild
    // build:js scripts/main.js
    script(src='../scripts/main.js')
    // endbuild